[DEFAULT]
data path = /users/kmonaghan/caffe/Automation/
output path = /users/kmonaghan/caffe/Automation/results.csv
solver path = /users/kmonaghan/caffe/Automation/solver.prototxt
temp path = /users/kmonaghan/caffe/Working
name = TestNet
learning rate = 0.01
weight decay = 0.0005
epochs = 5
test interval = 1
number of classes = 2
batch size = 512
folds = 1

[Net1]
#1 = ReLU, 2 = sigmoid, 3 = TanH
activation function = 1
#Number of neurons in each layer, separated by commas
network = 50,50
input dropout = 0.1
hidden dropout = 0.5
#1 = Xavier, 2 = Gaussian
filler = 1
l2 regularization = False


[Net2]
#1 = ReLU, 2 = sigmoid, 3 = TanH
activation function = 1
network = 50,50,50
input dropout = 0.1
hidden dropout = 0.5
#1 = Xavier, 2 = Gaussian
filler = 2
l2 regularization = False











